/Project01/New Folder/JavaFXApplication1/nbproject/private/
/Project01/New Folder/Resume/nbproject/private/
/Project01/Java UI/JavaFXApplication1/nbproject/private
/Project01/Java UI/CV Generator/build/
/Project01/Java UI/CV Generator/dist/