.body{
	margin: 0px;
	padding: 0px;

}

.header{
	border-bottom: .5px solid #bbb2b2;
	text-align: center;
	width: 80%;
    margin: auto;
}
.name_img{
	display: flex;
	width: 80%;
	border-bottom: 2px solid #080808;
	margin: auto;
}
.name_img .image img{
	    width: 140px;
	    padding: 7px;
}
.name_img .name{
	width: 70%;
	text-align: center;
}
.name_img .name h4,p{
	display: inline;
}
.name_img .image{

}
.personal_information .info_title{
	width: 80%;
    border-bottom: 2px solid #080808;
    margin: auto;
    background: #0a0a0a6e;
}
.personal_information .info_title p{
	font-size: larger;
    font-weight: bold;
    margin: auto;
}
.personal_information .info{
	display: flex;
    width: 80%;
    margin: auto;
}
.personal_information .info .info_1{
	width: 100%;
}
.personal_information .info .info_2{
	width: 100%;
}

.personal_information .info{
	width: 80%;
	border-bottom: 2px solid #080808;
	margin: auto;
}
.Education .Education_Title{
	width: 80%;
	border-bottom: 2px solid #080808;
	margin: auto;
	background: #0a0a0a6e;
}
.Education .Education_Title p{
	font-size: larger;
    font-weight: bold;
    margin: auto;
}
.Education .Education_details{
	width: 80%;
	margin: auto;
}
.Education .Education_details .test{
	font-weight: bold;
}
.Education .Education_details h4{
	margin: 0px;
}
.Education .Education_details .Degree_1{
	padding: 10px 0px;
    text-decoration: underline;
}
